{{#partial "titulo"}}
<h1 align = "center" >Administración terminales</h1>
{{/partial}}

{{#partial "listarTerminales"}}
	<!--<head>
		<title>Administracion terminales</title>
    	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    	<link rel="stylesheet"  href="/css/administracionTerminales.css">
	</head>-->

		
	<div class="row">
		<div class="form-group col-md-6 col-md-offset-3" style="float:left">
			<form action="/admin/terminal" method="get">
				<label for="comuna">Numero de comuna</label>
				<select id="comuna" name="comuna" class="form-control">
					<option value="-1" name="-1" id="-1">Todas las comunas</option>
					{{#each comunas}}
						<option value="{{numeroComuna}}" name="{{numeroComuna}}" id="{{numeroComuna}}">{{numeroComuna}}</option>
					{{/each}}
				</select>
				<button type="submit" class="btn btn-primary">Filtrar</button>
			</form>	
		</div>
		<div class="agregarTerminal" style="float: right;border: 1px solid;border-radius: 5px;padding: 7px;">
			<!--boton de agregar terminal-->
			<a href="/admin/terminal/agregar">Agregar terminal</a>
		</div>	
	</div>
	
	<div class="row">
		<table class="table table-striped">
			<tr class="first-row">
				<th  style="border-top: none">Nombre</th>
				<th  style="border-top: none">Comuna</th>
				
			</tr>
			
			{{#each terminales}}
				<tr>
					<td>{{nombre}}</td>
					<td>{{comuna.numeroComuna}}</td>
					<td><a href="/admin/terminal/info/{{id}}">Ver mas</a><td>
					<td><a href="/admin/terminal/editar/{{id}}">Editar</a><td>
					<td><a href="/admin/terminal/eliminar/{{id}}">Eliminar</a><td>
				</tr>
			{{/each}}
		</table>
	</div>
		
{{/partial}}
{{>admin.hbs}}
