{{#partial "titulo"}}
<h1 align = "center" >Editar terminal</h1>
{{/partial}}
{{#partial "editarTerminales"}}

	<div class="row">
		<div>
			<form action="/admin/terminal" method="post">
				
				<input type="hidden" name="id" value="{{id}}">
				
				<input id="nombre" value="{{terminal.nombre}}" placeholder="{{terminal.nombre}}"/>
				
				<input id="comuna" value="{{terminal.comuna.numeroComuna}}" placeholder"{{terminal.comuna.numeroComuna}}"/>
				
				{{#each terminal.accionesBusqueda}}
					<div class="checkbox">
  						<label><input type="checkbox" value="">opcion</label>
					</div>
				{{/each}}
				
				
				

				<input id="observers" placeholder="Lista de observers"/>
				
				<button type="submit" class="btn btn-primary">Guardar</button>
				<button href="/admin/terminal" class="btn btn-primary">cancelar</button>

			</form>	
		</div>
	</div>		
			
{{/partial}}
{{>admin.hbs}}
